* {
    padding: 0;
    margin: 0;
  }
  .login--main1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("https://cdn.wallpapersafari.com/80/6/5dzJbi.jpg"); */  
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
  }
  .loign--last{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .register{
    display: flex;
    float: right;
    align-items: center;
  }
  .register--button:hover{
     color:red;
  }
  .card {
    width: 20%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    padding: 30px 20px;
  }
  .card h6 {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 900;
  }
  .card .ep{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* color: #ccc; */
    color:red;
    letter-spacing: 1px;
  }
  .card .ep_account {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(140, 131, 131);
    /* color:red; */
    letter-spacing: 1px;
  }
  .input_text {
    position: relative;
    margin-top: 15px;
  }
  .input_text input:focus {
    border: 2px solid #311e69 !important;
  }
  .input_text input {
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 0px 10px;
  }
  .input_text small {
    color: red;
  }
  .input_text span {
    position: absolute;
    top: -9px;
    left: 8px;
    background-color: #fff;
    padding: 0px 8px;
    letter-spacing: 1px;
    font-weight: bold;
  }
  .submit_button {
    margin-top: 20px;
  }
  .submit_button button {
    width: 100%;
    height: 45px;
    border: none;
    background-color: #311e69;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    transition: all 0.5s;
    cursor: pointer;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 1px;
  }
  .submit_button button:hover {
    background-color: #221056;
  }
  .submit_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  .submit_button a {
    font-size: 14px;
    width: 100%;
    text-align: right;
    text-decoration: none;
    letter-spacing: 1px;
  }
  .error {
    color: red;
    font-size: 10px;
  }
  .account {
    margin-top: 20px;
    letter-spacing: 1px;
  }
  .login--route{
    color:black;
    min-width:30px;
    display: inline-block;
  }
  .ep_acc{
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* color: #ccc; */
    color:red;
    letter-spacing: 1px;
  }
  .clear{
    clear:both;
  }
  @media only screen and (max-width: 600px) {
    .card{
      width:75%;
    }
  }