* {
  margin: 0;
  padding: 0;
}

.wish--main {
  width: 75%;
  font-family: sans-serif;
  margin: auto;
}
.cart--button_plus,.cart--button_minus{
  cursor: pointer;
}
.WishList--main{
  width:100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  border-bottom: 2px solid skyblue;
  padding-bottom: 5px;
  /* background-color: red; */
}
.WishList--main .Image {
  width: 60px;
  height: 60px;
}
.WishList--img {
  display: flex;
  width: 400px;
}
.WishList--img p {
  font-weight: bold;
  margin-left: 10px;
}

.WishList--main div:nth-child(2) button {
  padding: 12px;
  font-weight: bold;
  background-color: #b3b4cb;
  border-radius: 3.5px;;
  margin-right: 5px;
}
.WishList--main .cart--button_plus:hover{
  background-color: green;
}
.WishList--main .cart--button_minus:hover{
  background-color: red;
}
.Buttons{
  max-width: 90px;
  display: flex;
  justify-content: space-around;
}
.wishList--not_there_img{
/* margin:auto auto; */
display: flex;
align-items: center;
justify-content: center;
box-sizing: border-box;
position: relative;
width: 100%;
min-height: 90vh;
}
.empty--wishlist{
  width:50%;
}
@media only screen and (max-width: 600px) {
.wish--main{
  width: 90%;
  font-size: 60%;
}
.cart--button_plus{
  display: flex;
  justify-content: center;
  align-items: center;
  width:40%;
  height:30px;
}
.cart--button_minus{
  display: flex;
  justify-content: center;
  align-items: center;
  width:40%;
  height:30px;
  /* height: 10%; */
}
.wishList--not_there_img{
  margin:auto auto;
  width: 100%;
  height: 100%;
}
.empty--wishlist{
  width:100%;
}
}